Repository datsmysong/app, pull requests merged in 2024-02, with the labels that each got.

#70 feat/manage-account
  .gitignore
  expo/app/(tabs)/profile/_layout.tsx
  expo/app/(tabs)/profile/account/_layout.tsx
  expo/app/(tabs)/profile/account/edit.tsx
  expo/app/(tabs)/profile/account/index.tsx
  expo/app/(tabs)/profile/account/integration.tsx
  expo/app/(tabs)/profile/index.tsx
  expo/app/auth/index.tsx
  expo/app/auth/login.tsx
  expo/app/auth/register.tsx
  expo/components/ControlledInput.tsx
  expo/components/CustomPasswordInput.tsx
  expo/components/Separator.tsx
  expo/components/Warning.tsx
  expo/components/profile/Avatar.tsx
  expo/components/profile/AvatarForm.tsx
  expo/components/profile/SettingsOptions.tsx
  expo/constants/Colors.ts
  expo/constants/SupabaseErrorCode.ts
  expo/lib/inputRestriction.ts
  expo/lib/useSupabaseUser.ts
  expo/package-lock.json
  expo/package.json
Labels: frontend

#81 feat/close-room
  backend/src/lib/auth-utils.ts
  backend/src/room.ts
  backend/src/route/RoomEndGET.ts
  backend/src/server.ts
  commons/database-types.ts
  expo/app/(tabs)/rooms/[id]/index.tsx
Labels: backend

#83 feat/remove-track
  backend/src/socketio/RoomIO.ts
  expo/app/(tabs)/rooms/[id]/index.tsx
  expo/app/_layout.tsx
  expo/components/CustomMenuOption.tsx
  expo/components/room/TrackItem.tsx
  expo/lib/room-utils.ts
  expo/package-lock.json
  expo/package.json
Labels: feature, backend, frontend

#46 feat/streaming-platform-player
  backend/.env.local.example
  backend/package-lock.json
  backend/package.json
  backend/src/RoomStorage.ts
  backend/src/musicplatform/Deezer.ts
  backend/src/musicplatform/MusicPlatform.ts
  backend/src/musicplatform/SoundCloud.ts
  backend/src/musicplatform/Spotify.ts
  backend/src/musicplatform/remotes/Remote.ts
  backend/src/musicplatform/remotes/SoundCloudRemote.ts
  backend/src/musicplatform/remotes/SpotifyRemote.ts
  backend/src/room.ts
  backend/src/route/RoomIdGET.ts
  backend/src/server.ts
  backend/src/socketio/Room.ts
  backend/src/socketio/RoomIO.ts
  commons/backend-types.ts
  commons/socket.io-types.ts
  expo/app.json
  expo/app/(tabs)/rooms/[id]/index.tsx
  expo/components/ActiveRoomView.tsx
  expo/components/SoundCloudPlayer.tsx
  expo/components/player/LocalPlayer.tsx
  expo/components/player/Player.tsx
  expo/components/player/PlayerControls.tsx
  expo/components/player/RoomPlayer.tsx
  expo/lib/audioRemote.ts
  expo/lib/socketio.ts
  expo/lib/soundcloud-widget-html.tsx
  expo/lib/types.ts
  expo/lib/useRoom.tsx
  expo/lib/useSupabaseUser.tsx
  expo/metro.config.js
  expo/package-lock.json
  expo/package.json
Labels: feature, backend, frontend

#90 docs/sprint-4-thursday-logbook
  Document du projet/Itération 4/Journaux de bord/Gaspard.md
  Document du projet/Itération 4/Journaux de bord/Hugo.md
  Document du projet/Itération 4/Journaux de bord/Maxence.md
  Document du projet/Itération 4/Journaux de bord/Noam.md
  Document du projet/Itération 4/Journaux de bord/Thomas.md
  Document du projet/Itération 4/bilan.md
  Document du projet/Itération 4/fonctionnalitesCU.txt
Labels: documentation

#91 docs/semester-end
  Document du projet/Itération 4/Diagrammes/BDD.puml
  Document du projet/Itération 4/Diagrammes/SoundCloud.puml
  Document du projet/Itération 4/Diagrammes/inscription_provider_spotify_PKCE.puml
  Document du projet/Itération 4/Diapo S5RAIL2 - datsmysong - Itération 4.pdf
  Document du projet/Itération 4/S5RAIL2_DATSMYSONG_RAPPORT_FIN_SEMESTRE.pdf
Labels: documentation

#100 feat/leave-room
  backend/src/route/RoomEndGET.ts
  backend/src/route/RoomLeaveGET.ts
  backend/src/server.ts
  commons/database-types.ts
  expo/components/ActiveRoomView.tsx
  expo/components/Alert.ts
  expo/components/Confirm.ts
  expo/lib/room-utils.ts
  expo/package.json
Labels: feature, backend, frontend

#97 feat/track-search
  backend/src/musicplatform/Deezer.ts
  backend/src/musicplatform/MusicPlatform.ts
  backend/src/musicplatform/SoundCloud.ts
  backend/src/musicplatform/Spotify.ts
  backend/src/musicplatform/remotes/SpotifyRemote.ts
  backend/src/socketio/RoomIO.ts
  commons/socket.io-types.ts
  expo/app/(tabs)/rooms/[id]/_layout.tsx
  expo/app/(tabs)/rooms/[id]/add.tsx
  expo/app/(tabs)/rooms/[id]/index.tsx
  expo/assets/images/album-cover.jpg
  expo/components/ActiveRoomView.tsx
  expo/components/player/RoomPlayer.tsx
  expo/components/room/Library.tsx
  expo/components/room/LibraryComponent.tsx
  expo/components/room/MinimalistTrackItem.tsx
  expo/components/room/SearchedTrackItem.tsx
  expo/components/room/TrackItem.tsx
  expo/components/room/TrackItemAdd.tsx
  expo/lib/useDebounce.ts
Labels: feature, backend

#110 docs/iteration-5
  Document du projet/Itération 5/Diapo S5RAIL2 - datsmysong - Itération 5.pdf
  Document du projet/Itération 5/bilan.md
  Document du projet/Itération 5/fonctionnalitesCU.txt
Labels: documentation
